<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.quizapplication">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/quizlogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/quizlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".MusicService"
            android:enabled="true" />

        <activity android:name=".InstructionActivity"></activity>
        <activity android:name=".LevelActivity" />
        <activity android:name=".VocabolaryActivity" />
        <activity android:name=".Home2Activity" />
        <activity android:name=".LeaderBoardsActivity" />
        <activity android:name=".AboutUsActivity" />
        <activity android:name=".ScannerLayout.CameraScannerLayout" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="sensorPortrait"
            tools:replace="screenOrientation" />
        <activity android:name=".MainActivity" />
        <activity android:name=".FirstQuestion" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home" />
        <activity android:name=".QuestionAndAnswer" />

        <meta-data
            android:name="com.google.gms.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

    <uses-feature android:name="com.android.hardware.Camera.focus" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.VIBRATE" />
</manifest>